<a href="https://colab.research.google.com/github/shinhs0920/seop/blob/master/class_variable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Family라는 Class를 지정한다.
그리고 클래스 변수로 lastname을 설정하고 이를 '김'이라고 칭한다.

In [0]:
class Family:
  lastname="김"

실행은 (클래스명).(클래스 변수) 형태로 클래스 변수 명을 확인할 수 있다

In [2]:
Family.lastname

'김'

클래스 변수의 객체이자 인스턴스 변수인 c1,c2를 다음과 같이 클래스 및 클래스 변수에 속하도록 설정한다.

In [0]:
c1=Family()

In [4]:
c1.lastname

'김'

In [0]:
c2=Family()

In [21]:
c2.lastname

'김'

위 실행 결과 c1,c2는 같은 클래스 변수에 속하며 따라서 같은 값을 갖는다

In [22]:
id(Family.lastname)

140008948953216

In [23]:
id(c1.lastname)

140008948953216

In [24]:
id(c2.lastname)

140008948953216

위 상황에서는 클래스 변수, 객체들 모두 다 같은 주소(id)를 가리키는 것을 확인할 수 있다.

그렇다면, 클래스 변수의 값을 변경해 보자

In [0]:
Family.lastname='박'

In [27]:
Family.lastname

'박'

In [28]:
c1.lastname

'박'

In [29]:
c2.lastname

'박'

클래스 변수 값을 변경했더니, 클래스로 만든 객체의 lastname 값도 모두 변경되었다. 
<br>즉, 클래스 변수는 클래스로 만든 모든 객체에 공유되는 특징이다

In [30]:
id(Family.lastname)

140008949031280

In [31]:
id(c1.lastname)

140008949031280

In [32]:
id(c2.lastname)

140008949031280

주소(id)값 역시 새로 지정되며 모두 같은 주소를 새로 가르킨다.
<br> 즉, Family.lastname, c1.lastname, c2.lastname은 모두 새로운 같은 메모리를 가리키고 있다.

이번에는 클래스 변수가 아닌 객체(인스턴스 변수)하나를 바꿔보자

In [0]:
c2.lastname='신'

In [37]:
c2.lastname

'신'

In [38]:
c1.lastname

'박'

In [39]:
Family.lastname

'박'

이처럼 클래스 변수와 c2를 제외한 나머지 객체들은 변하지 않고 c2만 변함을 볼 수 있다

주소(id)는 어떨까

In [40]:
id(c1.lastname)

140008949031280

In [41]:
id(c2.lastname)

140008949034560

In [42]:
id(Family.lastname)

140008949031280

주소(id) 역시 c2만 변하였다. 왜 이런 현상이 발생하였는가?
<br>왜 다른 객체 및 클래스 변수는 바뀌지 않았는가?

-> 클래스 변수는 한 클래스의 모든 인스턴스들이 공통적인 값을 가져야할 때 클래스 변수로 선언한다.
<br> 따라서, 클래스 변수의 모든 인스턴스들은 같은 저장공간을 가진다.
<br> 하지만 새로 바꾼 c2는 나머지 인스턴스 및 클래스 변수과 다른 값을 가지므로 더이상 클래스 변수의 객체가 아니다.
<br> 이제 c2는 클래스에 속하지 않는 새로운 독립적인 인스턴스 변수일 뿐이다.

-> 인스턴스 변수는 각 인스턴스마다 독립적인 저장공간을 갖으므로 c1과 c2는 다른 저장공간(주소)를 갖게 되고 당연히 c1이 속한 클래스 변수또한 c2와 다른 저장공간을 갖는다.